body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.title{
    text-align: center;
}

.form-title{
    text-align: center;
}

.db-container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    padding-top: 10px;
}